# https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

customCommands:
  - command: czg
    context: files
    key: c
    output: terminal
  - key: '<c-f>'
    description: 'Search commit messages on all branches'
    context: 'commits'
    prompts:
      - type: 'input'
        title: 'Search pattern:'
      - type: 'menuFromCommand'
        title: 'Matching commits:'
        command: "git log --all --oneline --grep='{{index .PromptResponses 0}}'"
        filter: '(?P<hash>[a-zA-Z0-9]+) (?P<message>.*)'
        valueFormat: '{{.hash}}'
        labelFormat: '{{.hash | green}} {{.message | yellow}}'
    command: 'git show {{index .PromptResponses 1}}'
    output: popup

gui:
  language: 'ja'
  showIcons: true
